@use '../abstracts/' as a;
.logo {
  width: a.rem(101);
  height: a.rem(40);
  background-image: url(../../images/logo.svg);
  background-repeat: no-repeat;
  background-position: left top;

  @include a.breakpoint(large) {
    transform: scale(1.1);
  }
}
