@use '../abstracts/' as a;

.section-2 {
  margin-top: 50%;
  padding-block: a.rem(80);
  --gap: 0;
  background-image: url(../../images/bg-pattern-circles.svg),
    a.$background-gradient-body-mobile;
  background-repeat: no-repeat;
  background-position: 50% a.rem(-250), center;
  background-size: 160%, 100%;
  border-top-right-radius: a.rem(100);
  border-bottom-left-radius: a.rem(100);

  @include a.breakpoint(large) {
    height: a.rem(410);
    margin-top: 5%;
    padding-block: 0;
    background-image: url(../../images/bg-pattern-circles.svg),
      a.$background-gradient-body;
    background-position: a.rem(-310) 80%, center;
    background-size: 80%, 100%;
  }

  &__image {
    grid-row: 1;
    grid-column: 1 / -1;
    transform: translateY(-65%);
    margin-inline: auto;

    @include a.breakpoint(large) {
      grid-column: 2 / 3;
      transform: translate(-5%, -10%);
    }
  }

  &__text {
    grid-row: 1 / span 2;
    grid-column: 2 / 3;
    align-self: end;
    justify-self: center;
    max-width: 30ch;

    @include a.breakpoint(large) {
      grid-column: 3 / 4;
      align-self: start;
      max-width: 100%;
      padding-top: 25%;
    }

    & > p {
      margin-top: a.rem(20);
      color: a.$white;
    }
  }
}
